<a href="https://colab.research.google.com/github/sirisha1398/Python/blob/main/Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##Create a function which accepts two inputs from the user and compute nCr

def nCr(a,b):
   return(fact(a)/(fact(b)
                 *fact(a-b)))
a=int(input(""))
b=int(input(""))
def fact(a):
    res=1
    for i in range(2,a+1):
      res =res*1
    return res
print(int(nCr(a,b)))

5
5
1

In [50]:
##Program to print a specified list after removing the 0th, 4th and 5th elements

list= ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
list.pop(0)
list.pop(3)
list.pop()
print(list)

['Green', 'White', 'Black']

In [ ]:
## Program to get the difference between the two lists

def Diff(li1, li2):
 return list(set(li1) - set(li2)) + list(set(li2) - set(li1))
li1 = [10, 15, 20, 25, 30, 35, 40]
li2 = [25, 40, 35]
print(Diff(li1, li2))

[10, 20, 30, 15]

In [24]:
##Program to find the second smallest number and second largest number in a list

x=[6,7,5,8,9,3,2]
x.sort(reverse=True)
print(x[1],x[-4])

8 6

In [ ]:
##Python program to create a list of tuples having first element as the number and second element as the square of the number 

list1 = [1, 2, 5, 6]  
res = [(val, pow(val, 2)) for val in list1]
print(res)

[(1, 1), (2, 4), (5, 25), (6, 36)]

In [ ]:
##Given list of tuples, remove all the tuples with length K.

test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
print("The original list : " + str(test_list)) 
K=1
res = [ele for ele in test_list if len(ele) != K]
print("Filtered list : " + str(res))

The original list : [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
Filtered list : [(4, 5), (8, 6, 7), (3, 4, 6, 7)]

In [ ]:
##Program to remove a key from a dictionary

myDict = {'a':1,'b':2,'c':3,'d':4}
print(myDict)
if 'a' in myDict: 
    del myDict['a']
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

In [4]:
##Program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

n=int(input("Input a number "))
d = dict()
for x in range(1,n+1):
    d[x]=x*x
print(d)

Input a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [7]:
##Program to get the maximum and minimum value in a dictionary.

a = {50,867,999,4,1000,22}
print(max(a),min(a))

1000 4

In [17]:
##Program to perform operations on string using unicodes ,splitting of string,accessing elements of string using locations

a= "i'm playing hockey"
print(a.split())
print(a[2:8])

["i'm", 'playing', 'hockey']
m play

In [20]:
##Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements

p= "i am having dinner with my bestfriends at my home"
print(p.count("i"))

5

In [21]:
##Program for replacing one substring by another

p="classicbrownie"
print (p.replace("s" , "o" ))

claooicbrownie

In [40]:
##Program to Acronym generator for any user input 

import random
y=input("enter the command ")
if "roll"==y:
    for x in range(6):
        y=random.randint(1,6)
        print(y)

enter the command roll
6
3
2
4
6
5

In [55]:
##Python function that accepts a string and calculates the number of uppercase letters and lowercase letters.

def string(a):
    u=0;l=0
    for x in a:
        if x.isupper():
           u=u+1
        else:
           l=l+1
    print("the lower values", l)
    print("the upper values", u)

string("SiriSHa")

the lower values 4
the upper values 3

In [49]:
##Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings

a=['abc', 'xyz', 'aba', '1221' ]
c=0
for x in a :
    if len(x)>=2:
        if x[0]==x[-1]:
            c=c+1
print("the string of length 2 is",c)

the string of length 2 is 2