<a href="https://colab.research.google.com/github/sirisha1398/Python/blob/main/SETS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## NO DUPLICATES 
A = {"apple", "banana", "cherry", "apple"}
print(A)

{'apple', 'cherry', 'banana'}

In [2]:
## LENGTH OF THE SET:
A = {"apple", "banana", "cherry"}
print(len(A))

3

In [8]:
## DATA TYPES
set1 = {"siri", "sudheshna", "tanusha"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'sudheshna', 'tanusha', 'siri'}
{1, 3, 5, 7, 9}
{False, True}

In [11]:
## Loops through sets
k = {"siri", "sudheshna", "tanusha"}
for x in k:
  print(x)

sudheshna
tanusha
siri

In [12]:
##Add an item
k = {"siri", "sudheshna", "tanusha"}
k.add("praisy")
print(k)

AttributeError: ignored

In [13]:
A = {"siri", "sudheshna", "tanusha"}
tropical = {"pineapple", "mango", "papaya"}
A.update(tropical)
print(A)

{'papaya', 'tanusha', 'mango', 'pineapple', 'siri', 'sudheshna'}

In [14]:
A = {"apple", "banana", "cherry"}
A.remove("banana")
print(A)

{'apple', 'cherry'}

In [15]:
##JOIN TWO SETS
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [16]:
##UPDATE SET2 INTO SET1
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

In [17]:
##intersection
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [18]:
##symmetric difference
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'microsoft', 'banana', 'cherry', 'google'}