<a href="https://colab.research.google.com/github/sirisha1398/Python/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
A = ("apple", "banana", "cherry")
print(A)

('apple', 'banana', 'cherry')

In [2]:
##TUPLE LENGTH

A = ("apple", "banana", "cherry")
print(len(A))

3

In [5]:
##TUPLE WITH ONE LENGTH

S = ("maths",)
print(type(S))

S = ("maths")
print(type(S))

<class 'tuple'>
<class 'str'>

In [8]:
##PRINT SECOND NAME

P=("siri", "su", "t")
print(P[1])

su

In [9]:
## NEGATIVE INDEXING

P=("siri", "su", "t")
print(P[-1])

t

In [14]:
##RANGE OF INDEXES


P=("siri", "su", "t", "praisy", "jyoshi", "fairy", "abhi")
print(P[2:5])

('t', 'praisy', 'jyoshi')

In [15]:
##FIRST VALUES

P=("siri", "su", "t", "praisy", "jyoshi", "fairy", "abhi")
print(P[:4])

('siri', 'su', 't', 'praisy')

In [17]:
##LAST VALUES

P=("siri", "su", "t", "praisy", "jyoshi", "fairy", "abhi")
print(P[4:])

('jyoshi', 'fairy', 'abhi')

In [18]:
##RANGE OF NEGATIVE INDEXES

P=("siri", "su", "t", "praisy", "jyoshi", "fairy", "abhi")
print(P[-4:-1])

('praisy', 'jyoshi', 'fairy')

In [19]:
##CHECK IF IT EXISTS

P=("siri", "su", "t", "praisy", "jyoshi", "fairy", "abhi")
if "abhi" in P:
  print("Yes, 'abhi' is in the names tuple")

Yes, 'abhi' is in the names tuple

In [20]:
##C0NVERSION OF TABLE INTO LIST:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [31]:
##ADD ITEMS

thistuple = ("MARSHMELLOW", "BROWNIES", "PASTA")
y = list(thistuple)
y.append("CHOCOS")
thistuple = tuple(y)
print(thistuple)

('MARSHMELLOW', 'BROWNIES', 'PASTA', 'CHOCOS')

In [35]:
##ADD TUPLE TO A TUPLE

x = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(y)

('orange',)

In [39]:
##REMOVE ITEMS

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [44]:
##PACKING A TUPLE

fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [45]:
##UNPACKING A TUPLE

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [47]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [48]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry